.dataTable {
	// height: 600px;
	padding: 20px;

	.cellAction {
		display: flex;
		align-items: center;
		gap: 15px;

		.viewButton,
		.deleteButton,
		.editButton {
			background-color: transparent;
		}

		.viewButton {
			padding: 2px 5px;
			border-radius: 5px;
			color: #0a9351;
			border: 1px solid #0a9351;
			cursor: pointer;
		}

		.deleteButton {
			padding: 2px 5px;
			border-radius: 5px;
			color: crimson;
			border: 1px solid crimson;
			cursor: pointer;
		}

		.editButton {
			padding: 2px 5px;
			border-radius: 5px;
			color: cornflowerblue;
			border: 1px solid cornflowerblue;
			cursor: pointer;
		}
	}
}
