.item--viewPage {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;

	.details--viewPage {
		.itemTitle {
			margin-bottom: 10px;
			font-size: 1.5rem;
		}

		.detailItem {
			margin-bottom: 10px;
			font-size: 14px;

			.itemKey {
				font-weight: bold;
				color: gray;
				margin-right: 5px;
			}

			.itemValue {
				font-weight: 300;
			}
		}
	}
}
