.dataTable {
	// height: 600px;
	padding: 20px;

	.dataTableTitle {
		width: 100%;
		font-size: 24px;
		color: gray;
		margin-bottom: 20px;

		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.cellAction {
		display: flex;
		align-items: center;
		gap: 15px;

		.viewButton {
			background-color: transparent;
		}

		.viewButton {
			padding: 2px 5px;
			border-radius: 5px;
			color: #0a9351;
			border: 1px solid #0a9351;
			cursor: pointer;
		}
	}
}
