.cellWidth {
	white-space: normal;
	word-wrap: break-word;
}

.cellWidth p {
	margin-bottom: 0px;
}

// header theme for the every table
.headerTheme {
	background-color: #0a9351;
	color: white;
}

.viewBtn {
	background-color: #0a9351 !important;
}
