.form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 25px;

	.fields {
		width: 100%;
	}

	.buttonCenter {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
}
